{
  "openapi": "3.0.3",
  "info": {
    "title": "Asana API - Get Projects",
    "version": "1.0.0",
    "description": "OpenAPI specification to fetch projects within a workspace using Asana's API."
  },
  "servers": [
    {
      "url": "https://app.asana.com/api/1.0"
    }
  ],
  "paths": {
    "/workspaces/{workspace_gid}/projects": {
      "get": {
        "summary": "Retrieve Projects in a Workspace",
        "operationId": "getProjectsInWorkspace",
        "parameters": [
          {
            "name": "workspace_gid",
            "in": "path",
            "required": true,
            "description": "The globally unique identifier (GID) of the workspace.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "opt_fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to include in the response.",
            "schema": {
              "type": "string",
              "example": "name,created_at,owner"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of projects in the specified workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "gid": {
                            "type": "string",
                            "description": "Globally unique identifier of the project."
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the project."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Creation timestamp of the project."
                          },
                          "owner": {
                            "type": "object",
                            "properties": {
                              "gid": {
                                "type": "string",
                                "description": "Globally unique identifier of the owner."
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the owner."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token."
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to access the workspace."
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "OAuth2"
      }
    }
  }
}
