{
  "openapi": "3.0.3",
  "info": {
    "title": "Asana API - Get Tasks in Project",
    "version": "1.0.0",
    "description": "Fetch all tasks in a specific Asana project."
  },
  "servers": [
    {
      "url": "https://app.asana.com/api/1.0"
    }
  ],
  "paths": {
    "/projects/{project_gid}/tasks": {
      "get": {
        "summary": "Get tasks in a project",
        "operationId": "getProjectTasks",
        "parameters": [
          {
            "name": "project_gid",
            "in": "path",
            "required": true,
            "description": "The GID of the project.",
            "schema": { "type": "string" }
          },
          {
            "name": "opt_fields",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of fields to include in response (e.g., name,resource_type,resource_subtype).",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of tasks per page.",
            "schema": { "type": "integer", "default": 50 }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset token from previous response.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks in the project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "gid": { "type": "string" },
                          "name": { "type": "string" },
                          "resource_type": { "type": "string" },
                          "resource_subtype": { "type": "string" }
                        }
                      }
                    },
                    "next_page": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "offset": { "type": "string" },
                        "uri": { "type": "string" },
                        "path": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized - invalid or missing token" },
          "403": { "description": "Forbidden - insufficient permissions" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "OAuth2"
      }
    }
  }
}
