{
  "openapi": "3.0.3",
  "info": {
    "title": "Asana API - Get Tasks in Project",
    "version": "1.0.0",
    "description": "Fetch all tasks in a specific Asana project with hardcoded project ID."
  },
  "servers": [
    {
      "url": "https://app.asana.com/api/1.0"
    }
  ],
  "paths": {
    "/projects/1211144180471084/tasks": {
      "get": {
        "summary": "Get tasks in a specific project",
        "operationId": "getTasksHardcodedProject",
        "responses": {
          "200": {
            "description": "List of tasks in the project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "gid": { "type": "string" },
                          "name": { "type": "string" },
                          "resource_type": { "type": "string" },
                          "resource_subtype": { "type": "string" }
                        }
                      }
                    },
                    "next_page": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "offset": { "type": "string" },
                        "uri": { "type": "string" },
                        "path": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized - invalid or missing token" },
          "403": { "description": "Forbidden - insufficient permissions" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "OAuth2"
      }
    }
  }
}
